body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/weather-icons-set-on-yellow-background-weather-forecast-concept_135892-707.jpg?w=1060");
}
.weather-card {
  background-color: rgba(52, 52, 52, 0.7);
  padding: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  max-width: 700px;
  width: 100%;
  height: 300px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menu-container {
  display: flex;
  justify-content: center;
  background-color: rgb(62, 61, 61);
  border-radius: 60px;
  max-width: 700px;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
}
.menu-container Button {
  margin-right: 30px;
}

.menu-container Button:hover {
  background-color: #ffc107;
}
.name {
  font-weight: bold;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.729);
}
.temp {
  font-weight: bold;
  font-size: 40px;
  color: rgb(33, 194, 33);
}
.description {
  font-weight: bold;
  font-size: 40px;
  color: aquamarine;
}
@media screen and (max-width: 33rem) {
  .menu-container Button {
    margin-right: 0px;
  }
  .menu-container {
   width: 400px;
  }
  .name {
    font-weight: bold;
    font-size: 25px;
  }
  .temp {
    font-weight: bold;
    font-size: 30px;
    color: rgb(33, 194, 33);
  }
  .description {
    font-weight: bold;
    font-size: 30px;
    color: aquamarine;
  }
}
